---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 11:25:31 GMT
[...]
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"user_find","params":[["admin"],{"version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      www-authenticate:
      - Negotiate
      last-modified:
      - Wed, 10 Jan 2024 09:47:22 GMT
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8">
            <title>Identity Management</title>
            <script type="text/javascript" src="../ui/js/libs/loader.js"></script>
            <script type="text/javascript">
                var dojoConfig = {
                    baseUrl: "../ui/js",
                    has: {
                        'dojo-firebug': false,
                        'dojo-debug-messages': true
                    },
                    parseOnLoad: false,
                    async: true,
                    packages: [
                        {
                            name:'dojo',
                            location:'dojo'
                        },
                        {
                            name: 'freeipa',
                            location: 'freeipa'
                        }
                    ]
                };
                (function() {
                    var icons = [
                        '../ui/favicon.ico'
                    ];
                    var styles = [
                        '../ui/css/patternfly.css',
                        '../ui/css/ipa.css'
                  [...]
