---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 13:50:27 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"user_find","params":[["admin"],{"all":true,"version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": [{"objectclass": ["top", "person", "posixaccount",
        "krbprincipalaux", "krbticketpolicyaux", "inetuser", "ipaobject", "ipasshuser",
        "ipaSshGroupOfPubKeys", "ipaNTUserAttrs"], "cn": ["Administrator"], "gecos":
        ["Administrator"], "ipauniqueid": ["d6c72e6c-df7f-11ed-bc0d-0674ebdae396"],
        "ipantsecurityidentifier": ["S-1-5-21-562557311-290852036-180187086-500"],
        "krblastpwdchange": [{"__datetime__": "20230715081215Z"}], "krblastadminunlock":
        [{"__datetime__": "20230420133811Z"}], "krbextradata": [{"__base64__": "AALfVLJkYWRtaW5AREVNTzEuRlJFRUlQQS5PUkcA"}],
        "krbloginfailedcount": ["0"], "krblastfailedauth": [{"__datetime__": "20251007135027Z"}],
        "uid": ["admin"], "sn": ["Administrator"], "uidnumber": ["1142400000"], "loginshell":
        ["/bin/bash"], "krbprincipalname": ["admin@DEMO1.FREEIPA.ORG", "root@DEMO1.FREEIPA.ORG"],
        "nsaccountlock": false, "gidnumber": ["1142400000"], "homedirectory": ["/home/admin"],
        "preserved": false, "memberof_group": ["admins", "trust admins"], "memberof_sudorule":
        ["admin-access"], "dn": "uid=admin,cn=users,cn=accounts,dc=demo1,dc=freeipa,dc=org"}],
        "count": 1, "truncated": false, "summary": "1 user matched"}, "error": null,
        "id": 0, "principal": "admin@DEMO1.FREEIPA.ORG", "version": "4.11.1"}'
  recorded_at: Tue, 07 Oct 2025 13:50:27 GMT
recorded_with: VCR 6.3.1
