---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 13:53:03 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"group_add","params":[["fripagem001"],{"description":"Fripa
        Gem Group","version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": {"cn": ["fripagem001"], "description": ["Fripa
        Gem Group"], "gidnumber": ["1142401989"], "ipauniqueid": ["f1eaa86a-a384-11f0-8dea-06c75374d591"],
        "objectclass": ["top", "groupofnames", "nestedgroup", "ipausergroup", "ipaobject",
        "posixgroup"], "dn": "cn=fripagem001,cn=groups,cn=accounts,dc=demo1,dc=freeipa,dc=org"},
        "value": "fripagem001", "summary": "Added group \"fripagem001\""}, "error":
        null, "id": 0, "principal": "admin@DEMO1.FREEIPA.ORG", "version": "4.11.1"}'
  recorded_at: Tue, 07 Oct 2025 13:53:03 GMT
recorded_with: VCR 6.3.1
