---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 13:50:36 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"group_add","params":[["temp_delete_group"],{"description":"Temp
        group","version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": {"ipauniqueid": ["9a0fb77a-a384-11f0-9f39-06c75374d591"],
        "cn": ["temp_delete_group"], "gidnumber": ["1142401988"], "objectclass": ["top",
        "groupofnames", "nestedgroup", "ipausergroup", "ipaobject", "posixgroup"],
        "description": ["Temp group"], "dn": "cn=temp_delete_group,cn=groups,cn=accounts,dc=demo1,dc=freeipa,dc=org"},
        "value": "temp_delete_group", "summary": "Added group \"temp_delete_group\""},
        "error": null, "id": 0, "principal": "admin@DEMO1.FREEIPA.ORG", "version":
        "4.11.1"}'
  recorded_at: Tue, 07 Oct 2025 13:50:36 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"group_del","params":[["temp_delete_group"],{"version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": {"failed": []}, "value": ["temp_delete_group"],
        "summary": "Deleted group \"temp_delete_group\""}, "error": null, "id": 0,
        "principal": "admin@DEMO1.FREEIPA.ORG", "version": "4.11.1"}'
  recorded_at: Tue, 07 Oct 2025 13:50:36 GMT
recorded_with: VCR 6.3.1
