---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 13:50:33 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"group_find","params":[[],{"version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": [{"description": ["Account administrators group"],
        "gidnumber": ["1142400000"], "cn": ["admins"], "dn": "cn=admins,cn=groups,cn=accounts,dc=demo1,dc=freeipa,dc=org"},
        {"description": ["Modified description"], "gidnumber": ["1142400002"], "cn":
        ["editors"], "dn": "cn=editors,cn=groups,cn=accounts,dc=demo1,dc=freeipa,dc=org"},
        {"description": ["Test Employees"], "gidnumber": ["1142400006"], "cn": ["employees"],
        "dn": "cn=employees,cn=groups,cn=accounts,dc=demo1,dc=freeipa,dc=org"}, {"description":
        ["\"Forbes, Fuller and King\",-1"], "gidnumber": ["1142401063"[...]
