---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 13:50:35 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"group_remove_member_manager","params":[["employees"],{"user":["admin"],"version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"completed": 1, "failed": {"membermanager": {"user": [],
        "group": []}}, "result": {"description": ["Test Employees"], "gidnumber":
        ["1142400006"], "cn": ["employees"], "member_user": ["employee", "manager"],
        "dn": "cn=employees,cn=groups,cn=accounts,dc=demo1,dc=freeipa,dc=org"}}, "error":
        null, "id": 0, "principal": "admin@DEMO1.FREEIPA.ORG", "version": "4.11.1"}'
  recorded_at: Tue, 07 Oct 2025 13:50:35 GMT
recorded_with: VCR 6.3.1
