---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 13:53:23 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"user_add","params":[["fripauser001"],{"givenname":"Fripa","sn":"User","cn":"Fripa
        User","version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": {"krbcanonicalname": ["fripauser001@DEMO1.FREEIPA.ORG"],
        "mail": ["fripauser001@demo1.freeipa.org"], "uid": ["fripauser001"], "displayname":
        ["Fripa User"], "objectclass": ["top", "person", "organizationalperson", "inetorgperson",
        "inetuser", "posixaccount", "krbprincipalaux", "krbticketpolicyaux", "ipaobject",
        "ipasshuser", "ipaSshGroupOfPubKeys", "mepOriginEntry", "ipantuserattrs"],
        "sn": ["User"], "givenname": ["Fripa"], "gecos": ["Fripa User"], "loginshell":
        ["/bin/sh"], "initials": ["FU"], "homedirectory": ["/home/fripauser001"],
        "cn": ["Fripa User"], "gidnumber": ["1142401991"], "ipauniqueid": ["fda06208-a384-11f0-bec4-06c75374d591"],
        "uidnumber": ["1142401991"], "krbprincipalname": ["fripauser001@DEMO1.FREEIPA.ORG"],
        "mepmanagedentry": ["cn=fripauser001,cn=groups,cn=accounts,dc=demo1,dc=freeipa,dc=org"],
        "has_password": false, "has_keytab": false, "memberof_group": ["ipausers"],
        "dn": "uid=fripauser001,cn=users,cn=accounts,dc=demo1,dc=freeipa,dc=org"},
        "value": "fripauser001", "summary": "Added user \"fripauser001\""}, "error":
        null, "id": 0, "principal": "admin@DEMO1.FREEIPA.ORG", "version": "4.11.1"}'
  recorded_at: Tue, 07 Oct 2025 13:53:23 GMT
recorded_with: VCR 6.3.1
