---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 13:50:28 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"user_find","params":[[],{"version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": [{"uid": ["admin"], "sn": ["Administrator"],
        "uidnumber": ["1142400000"], "loginshell": ["/bin/bash"], "krbprincipalname":
        ["admin@DEMO1.FREEIPA.ORG", "root@DEMO1.FREEIPA.ORG"], "nsaccountlock": false,
        "gidnumber": ["1142400000"], "homedirectory": ["/home/admin"], "dn": "uid=admin,cn=users,cn=accounts,dc=demo1,dc=freeipa,dc=org"},
        {"krbcanonicalname": ["employee@DEMO1.FREEIPA.ORG"], "mail": ["newemail@example.com"],
        "uid": ["employee"], "sn": ["Employee"], "uidnumber": ["1142400004"], "givenname":
        ["Test"], "loginshell": ["/bin/sh"], "krbprincipalname": ["employee@DEMO1.FREEIPA.ORG"],
        "gidnumber": ["1142400004"], "homedirectory": ["/home/employee"], "nsaccountlock":
        false, "dn": "uid=employee,cn=users,cn=accounts,dc=demo1,dc=freeipa,dc=org"},
        {"krbcanonicalname": ["helpdesk@DEMO1.FREEIPA.ORG"], "mail": ["helpdesk@demo1.freeipa.org"],
        "uid": ["helpdesk"], "sn": ["Helpdesk"], "uidnumber": ["1142400005"], "givenname":
        ["Test"], "loginshell": [[...]
