---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 13:53:04 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"user_mod","params":[["employee"],{"mail":"employee-1759845183@demo1.freeipa.org","version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": {"krbcanonicalname": ["employee@DEMO1.FREEIPA.ORG"],
        "mail": ["employee-1759845183@demo1.freeipa.org"], "uid": ["employee"], "sn":
        ["Employee"], "givenname": ["Test"], "loginshell": ["/bin/sh"], "homedirectory":
        ["/home/employee"], "gidnumber": ["1142400004"], "uidnumber": ["1142400004"],
        "krbprincipalname": ["employee@DEMO1.FREEIPA.ORG"], "nsaccountlock": false,
        "has_password": true, "has_keytab": true, "memberof_group": ["ipausers", "employees"]},
        "value": "employee", "summary": "Modified user \"employee\""}, "error": null,
        "id": 0, "principal": "admin@DEMO1.FREEIPA.ORG", "version": "4.11.1"}'
  recorded_at: Tue, 07 Oct 2025 13:53:04 GMT
recorded_with: VCR 6.3.1
