---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/login_password
    body:
      encoding: US-ASCII
      string: user=admin&password=<PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2025 13:53:04 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"user_add","params":[["passwdtest"],{"givenname":"Password","sn":"Test","cn":"Password
        Test","userpassword":"OldPass123","version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": {"givenname": ["Password"], "cn": ["Password
        Test"], "krbprincipalname": ["passwdtest@DEMO1.FREEIPA.ORG"], "homedirectory":
        ["/home/passwdtest"], "displayname": ["Password Test"], "sn": ["Test"], "gidnumber":
        ["1142401990"], "mail": ["passwdtest@demo1.freeipa.org"], "ipauniqueid": ["f28bd2ee-a384-11f0-8dea-06c75374d591"],
        "gecos": ["Password Test"], "uid": ["passwdtest"], "loginshell": ["/bin/sh"],
        "uidnumber": ["1142401990"], "initials": ["PT"], "objectclass": ["top", "person",
        "organizationalperson", "inetorgperson", "inetuser", "posixaccount", "krbprincipalaux",
        "krbticketpolicyaux", "ipaobject", "ipasshuser", "ipaSshGroupOfPubKeys", "mepOriginEntry",
        "ipantuserattrs"], "krbcanonicalname": ["passwdtest@DEMO1.FREEIPA.ORG"], "krbpasswordexpiration":
        [{"__datetime__": "20251007135303Z"}], "krblastpwdchange": [{"__datetime__":
        "20251007135303Z"}], "krbextradata": [{"__base64__": "AAI/G+Vocm9vdC9hZG1pbkBERU1PMS5GUkVFSVBBLk9SRwA="}],
        "mepmanagedentry": ["cn=passwdtest,cn=groups,cn=accounts,dc=demo1,dc=freeipa,dc=org"],
        "has_password": true, "has_keytab": true, "memberof_group": ["ipausers"],
        "dn": "uid=passwdtest,cn=users,cn=accounts,dc=demo1,dc=freeipa,dc=org"}, "value":
        "passwdtest", "summary": "Added user \"passwdtest\""}, "error": null, "id":
        0, "principal": "admin@DEMO1.FREEIPA.ORG", "version": "4.11.1"}'
  recorded_at: Tue, 07 Oct 2025 13:53:05 GMT
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"passwd","params":[["passwdtest","NewPass123","OldPass123"],{"version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"result": true, "value": "passwdtest@DEMO1.FREEIPA.ORG",
        "summary": "Changed password for \"passwdtest@DEMO1.FREEIPA.ORG\""}, "error":
        null, "id": 0, "principal": "admin@DEMO1.FREEIPA.ORG", "version": "4.11.1"}'
  recorded_at: Tue, 07 Oct 2025 13:53:05 GMT
recorded_with: VCR 6.3.1
