---
http_interactions:
- request:
    method: post
    uri: https://ipa.demo1.freeipa.org/ipa/session/json
    body:
      encoding: UTF-8
      string: '{"method":"user_show","params":[["nonexistent_user_xyz123"],{"version":"2.251"}],"id":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Success
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": null, "error": {"code": 4001, "message": "nonexistent_user_xyz123:
        user not found", "data": {"reason": "nonexistent_user_xyz123: user not found"},
        "name": "NotFound"}, "id": 0, "principal": "admin@DEMO1.FREEIPA.ORG", "version":
        "4.11.1"}'
  recorded_at: Wed, 26 Nov 2025 12:39:25 GMT
recorded_with: VCR 6.3.1
